#screenMainMainTile {
  font-size: 96px;
  text-align: center;
  padding-bottom: 1em;
}

#screenMainTowersList {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#screenTowerMain {
  display: grid;
  height: 100vh;
}
#screenTowerMap {
  margin: auto 5px;
}
#screenTowerInfoBar {
  background-color: blue;
}
