#screenMainMainTile {
  font-size: 96px;
  text-align: center;
  padding-bottom: 1em;
}

#screenMainTowersList {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#screenTowerMain {
  display: grid;
  height: 100vh;
}
#screenTowerMap {
  padding-left: 5px;
  padding-right: 5px;
}

#screenTowerInfoBar {
  margin-left: 0.5em;
  font-size: 24px;
  border-left: 2px solid var(--sl-color-neutral-950);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2px;
  background-color: var(--sl-color-neutral-950);
}
#screenTowerInfoHp,
#screenTowerInfoAtk,
#screenTowerInfoDef,
#screenTowerInfoExp {
  background-color: var(--sl-color-neutral-50);
  text-align: center;
  display: flex;
  div {
    margin: auto;
  }
  sl-icon {
    padding-right: 0.5em;
  }
}
