sl-tab-group::part(nav) {
  display: flex;
  justify-content: center;
}

#tabEnemy,
#tabLevel,
#tabItem {
  .elementLine {
    text-align: center;
    padding-bottom: 0.5em;

    sl-select {
      display: inline-block;
    }

    sl-input {
      display: inline-block;
    }

    sl-tag.delete {
      visibility: hidden;
    }

    .delete {
      width: 3%;
    }
  }

  .addButtonDiv {
    text-align: center;
    padding-top: 0.5em;

    sl-button {
      width: 5%;
    }
  }
}

#tabEnemy {
  sl-tag,
  sl-select,
  sl-input {
    width: 7%;
  }

  .narrow {
    width: 4%;
  }

  .wide {
    width: 15%;
  }

  .narrow {
    width: 4%;
  }

  .level {
    width: 10%;
  }
}

#tabLevel {
  sl-tag,
  sl-select,
  sl-input {
    width: 25%;
  }
  .wide {
    width: 40%;
  }
}

#tabInfo {
  text-align: center;

  sl-input {
    --label-width: 50%;
    --gap-width: 1rem;
  }

  sl-input + sl-input {
    margin-top: var(--sl-spacing-medium);
  }

  sl-input::part(form-control) {
    display: grid;
    grid: auto / var(--label-width) 1fr;
    gap: var(--sl-spacing-3x-small) var(--gap-width);
    align-items: center;
  }

  sl-input::part(form-control-label) {
    text-align: right;
  }

  sl-input::part(form-control-help-text) {
    grid-column-start: 2;
  }

  sl-input[type="text"]::part(form-control-input) {
    max-width: 300px;
  }
  sl-input[type="number"]::part(form-control-input) {
    max-width: 100px;
  }
}

#tabImportExport {
  .topButtons {
    text-align: center;
  }

  #tabImportExportExportAlert {
    padding-bottom: 1em;
  }
}

#tabMapMap {
  text-align: center;
}

#tabMapMapGrid {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
}
#tabMapMapGrid > div:last-of-type {
  margin-right: 1em;
}
#tabMapMapGrid > div:first-of-type {
  margin-left: 1em;
}

#tabMapLevelAdd {
  text-align: center;
  padding-top: 0.5em;
}

#tabMapLayerRadioGroup,
#tabMapLevelName,
#tabMapRoomButtons {
  padding: 0.5em;
}

#tabMapLayerRadioGroup,
#tabMapRoomButtons,
#tabMapRoomAdd {
  display: block;
  text-align: center;
}

#tabMapRoomAdd {
  padding: 0.1em;
}

#tabItem {
  sl-tag,
  sl-input {
    width: 10%;
  }
  .name {
    width: 20%;
  }
}

sl-input[data-user-invalid]::part(base),
sl-select[data-user-invalid]::part(combobox),
sl-checkbox[data-user-invalid]::part(control) {
  border-color: var(--sl-color-danger-600);
}

[data-user-invalid]::part(form-control-label),
[data-user-invalid]::part(form-control-help-text),
sl-checkbox[data-user-invalid]::part(label) {
  color: var(--sl-color-danger-700);
}

sl-checkbox[data-user-invalid]::part(control) {
  outline: none;
}

sl-input:focus-within[data-user-invalid]::part(base),
sl-select:focus-within[data-user-invalid]::part(combobox),
sl-checkbox:focus-within[data-user-invalid]::part(control) {
  border-color: var(--sl-color-danger-600);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-300);
}

h1,
h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  padding-top: 0.1em;
}

h2 {
  font-size: 1.4em;
  padding-bottom: 0.2em;
}
