sl-tab-group::part(nav) {
  display: flex;
  justify-content: center;
}

#tabEnemies {
  .enemyLine {
    text-align: center;
    padding-bottom: 0.5em;

    sl-select {
      display: inline-block;
    }

    sl-input {
      display: inline-block;
    }

    sl-tag.delete {
      visibility: hidden;
    }

    sl-tag,
    sl-select,
    sl-input {
      width: 7%;
    }

    .level {
      width: 4%;
    }

    .name,
    .type,
    .drop {
      width: 15%;
    }

    .delete {
      width: 3%;
    }
  }

  .addButtonDiv {
    text-align: center;
    padding-top: 0.5em;

    sl-button {
      width: 5%;
    }
  }
}

#tabInfo {
  text-align: center;
  sl-input {
    display: inline-block;
  }
}

#tabImportExport {
  .topButtons {
    text-align: center;
  }

  #tabImportExportExportAlert {
    padding-bottom: 1em;
  }
}

#tabMapMap {
  text-align: center;
}

#tabMapLevelAdd {
  text-align: center;
  padding-top: 0.5em;
}

#tabMapLayerRadioGroup,
#tabMapLevelName,
#tabMapRoomButtons {
  padding: 0.5em;
}

#tabMapLayerRadioGroup,
#tabMapRoomButtons,
#tabMapRoomAdd {
  display: block;
  text-align: center;
}

#tabMapMapToolTip {
  position: absolute;
}

#tabMapRoomAdd {
  padding: 0.1em;
}

sl-input[data-user-invalid]::part(base),
sl-select[data-user-invalid]::part(combobox),
sl-checkbox[data-user-invalid]::part(control) {
  border-color: var(--sl-color-danger-600);
}

[data-user-invalid]::part(form-control-label),
[data-user-invalid]::part(form-control-help-text),
sl-checkbox[data-user-invalid]::part(label) {
  color: var(--sl-color-danger-700);
}

sl-checkbox[data-user-invalid]::part(control) {
  outline: none;
}

sl-input:focus-within[data-user-invalid]::part(base),
sl-select:focus-within[data-user-invalid]::part(combobox),
sl-checkbox:focus-within[data-user-invalid]::part(control) {
  border-color: var(--sl-color-danger-600);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-300);
}

sl-tree-item:hover::part(base) {
  color: var(--sl-color-primary-600);
}

h1,
h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  padding-top: 0.1em;
}

h2 {
  font-size: 1.4em;
  padding-bottom: 0.2em;
}
