@font-face {
    font-family: "JetBrains Mono";
    src: url(assets/JetBrainsMono-Medium.woff2) format("woff"), url(assets/JetBrainsMonoNL-Regular.ttf) format("truetype");
}

body {
    font-family: "JetBrains Mono", monospace;
}

:root {
    --sl-font-sans: "JetBrains Mono", monospace;
    --sl-font-serif: "JetBrains Mono", monospace;
    --sl-font-mono: "JetBrains Mono", monospace;

    sl-tab-group::part(nav) {
        display: flex;
        justify-content: center;
    }

    #tabEnemies {
        .enemyLine {
            sl-tag, sl-select, sl-input {
                width: 10%;
            }

            sl-select {
                display: inline-block;
            }

            sl-input {
                display: inline-block;
            }

            text-align: center;
            padding-bottom: 0.5em;

            sl-tag.tabEnemyDelete {
                visibility: hidden;
            }

            .tabEnemyLevel {
                width: 5%;
            }
            .tabEnemyName {
                width: 15%;
            }

            .tabEnemyDelete {
                width: 5%;
            }

            .type {
                width: 15%;
            }
        }

        #tabEnemiesAddButtonDiv {
            text-align: center;
            padding-top: 0.5em;

            sl-button {
                width: 5%;
            }
        }
    }
}

h1 {
    text-align: center;
}