@font-face {
    font-family: "JetBrains Mono";
    src: url(assets/JetBrainsMono-Medium.woff2) format("woff"), url(assets/JetBrainsMonoNL-Regular.ttf) format("truetype");
}

body {
    font-family: "JetBrains Mono", monospace;
}

:root {
    --sl-font-sans: "JetBrains Mono", monospace;
    --sl-font-serif: "JetBrains Mono", monospace;
    --sl-font-mono: "JetBrains Mono", monospace;

    sl-tab-group::part(nav) {
        display: flex;
        justify-content: center;
    }

    #tabEnemies {
        .enemyLine {
            sl-select {
                display: inline-block;
            }

            sl-input {
                display: inline-block;
            }

            text-align: center;
            padding-bottom: 0.5em;

            sl-tag.delete {
                visibility: hidden;
            }

            sl-tag, sl-select, sl-input {
                width: 10%;
            }

            .level {
                width: 4%;
            }

            .name, .type, .drop {
                width: 15%;
            }

            .delete {
                width: 3%;
            }
        }

        .addButtonDiv {
            text-align: center;
            padding-top: 0.5em;

            sl-button {
                width: 5%;
            }
        }
    }

    #tabImportExport {
        .topButtons {
            text-align: center;
            padding-bottom: 1em;
        }

        .exportAlert {
            padding-bottom: 1em;
        }
    }

    #tabMap {
        #tabMapMap {
            display: flex;
            flex: 3;
            justify-content: flex-start;
        }
        sl-tree {
            display: flex;
            flex: 1;
            justify-content: flex-end;
        }
    }

    sl-input[data-user-invalid]::part(base),
    sl-select[data-user-invalid]::part(combobox),
    sl-checkbox[data-user-invalid]::part(control) {
        border-color: var(--sl-color-danger-600);
    }

    [data-user-invalid]::part(form-control-label),
    [data-user-invalid]::part(form-control-help-text),
    sl-checkbox[data-user-invalid]::part(label) {
        color: var(--sl-color-danger-700);
    }

    sl-checkbox[data-user-invalid]::part(control) {
        outline: none;
    }

    sl-input:focus-within[data-user-invalid]::part(base),
    sl-select:focus-within[data-user-invalid]::part(combobox),
    sl-checkbox:focus-within[data-user-invalid]::part(control) {
        border-color: var(--sl-color-danger-600);
        box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-300);
    }

    sl-tree-item:hover::part(base) {
        color: var(--sl-color-primary-600);
    }

}

h1 {
    text-align: center;
}
